<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p><img src="/public/img/personal_log.png" alt="Orbits" width="224" height="128" /></p>
    <p>{{ .Site.Params.Description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item {{ if eq .Permalink "/" }} active {{ end }}" href="/">主页</a>
    <a class="sidebar-nav-item" href="/about/">我的简介</a>
    <a class="sidebar-nav-item" href="/archives/">按时间查看</a>
    <a class="sidebar-nav-item" href="/categories/">按类别查看</a>
    <a class="sidebar-nav-item" href="/tags/">按标签查看</a>
  </nav>

  <div class="sidebar-item">
    <p>
      <a href="https://github.com/{{ .Site.Params.GitHubUser }}"><i class="fa fa-github fa-3x"></i></a>
    </p>
  </div>

  <div class="sidebar-item">
    <p>&copy; 2005-{{ .Site.LastChange.Year }}. All rights reserved.</p>
  </div>
</div>
